<?xml version="1.0"?>
<config>
    <modules>
        <John_LoyaltyDiscount>
            <version>1.0.0</version>
        </John_LoyaltyDiscount>
    </modules>
    <global>
        <helpers>
            <loyaltydiscount>
                <class>John_LoyaltyDiscount_Helper</class>
            </loyaltydiscount>
        </helpers>
        <models>
            <loyaltydiscount>
                <class>John_LoyaltyDiscount_Model</class>
            </loyaltydiscount>
        </models>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <add_loyaltydiscount_to_sales_rule>
                        <class>loyaltydiscount/observer</class>
                        <method>addLoyaltyDiscount</method>
                    </add_loyaltydiscount_to_sales_rule>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <loyaltydiscount>
                                            <title>Loyalty Discount Settings</title>
                                        </loyaltydiscount>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
